<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2 - Group 10</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div>
    <header>
      <h1>Welcome To Project 2</h1>
      <p>This site enables you to have your
        own profile to host all of your all time favorite shows</p>
    </header>
    <nav>

      <a href="/login">Login</a>

      <a href="/login">Create Profile</a>

      <button id="logout" class="logout-btn">Logout</button>
    </nav>
    {{{body}}}
    <footer>

    </footer>
  </div>
  <!-- Render script for logged in users only -->
  {{!-- {{#if logged_in}}
  <scrip src="js/logout.js"></scrip>
  {{/if}} --}}

  <script src="/assets/js/script.js"></script>
</body>

</html>