<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="assets/jass.css"> -->
    <link rel="stylesheet" type="text/css" href="assets/style.css">
    <title>Group 10</title>
</head>

<body>
    <header>
        <h1>Welcome To Project 2</h1>
        <p>This site enables you to have your
            own profile to host all of your all time favorite shows</p>
    </header>
    <nav>
        <!-- <a href="/">Home Page</a> -->
        <!-- {{#if loggedIn}} -->
        <a href="/login">Login</a>
        <!-- {{else}} -->
        <a href="/login">Create Profile</a>
        <!-- {{/if}} -->
        <button id="logout" class="logout-btn">Logout</button>
    </nav>
    <!-- {{#if loggedIn}} -->
    <script src="/js/logout.js"></script>
    <!-- {{/if}} -->
</body>

</html>