<div class="feature-row feature-row--feature-row-0 feature-row--large 
    feature-row__image-crop--none" data-section-id="feature-row-0" data-section-type="feature-row">

    <div class="feature-row__item feature-row__text">

      <h2 class="feature-row__heading h3">About This Site</h2>

      <div class="rte-setting featured-row__subtext">
        <p>This site enables you to have your
          own profile to host all of your all time favorite shows. 
          Add shows to your account and find others who like the same shows as you!</p>
      </div>
    </div>
</div>