<div class="feature-row feature-row--feature-row-0 feature-row--large 
    feature-row__image-crop--none" data-section-id="feature-row-0" data-section-type="feature-row">

  <div class="feature-row__item feature-row__text">

    <h2 class="feature-row__heading h3">About This Site</h2>

    <div class="rte-setting featured-row__subtext">
      <p>The site for TV Show lovers to unite!
        Search your favorite shows, build your profile, and connect with other show lovers!
      </p>
    </div>
  </div>
</div>