
<div class="forms">
  <div class="container-l">
    <h2 class="feature-row__text">User Login</h2>
    <form class="form login-form feature-row__text">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">LOG IN</button>
      </div>
    </form>
  </div>

  <div class="container-r">
    <h2 class="feature-row__text">Don't have an account? Sign Up Here:</h2>
    <form class="form signup-form feature-row__text">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">SIGN UP</button>
      </div>
    </form>
  </div>
</div>