<div class="profile">
<h2 class="feature-row__text">Welcome Back, {{name}}!</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col-3">
            <div class="card feature-row__text">
                <h2>Search for your favorite shows!</h2>
                <div class="form-outline">
                    <input type="search" id="keyword" class="form-control"
                        style="font-family: FontAwesome; width: 250px; height: 45px;" placeholder="Enter Keyword" />
                    <label class="form-label" for="form1"></label>
                </div>
                <div class="row buttonSection">
                    <button type="button" class="searchBtn btn-primary"> Search
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                <div>
                    <div class="results"></div>
                    <p id="showCon">
                </div>
                <div>
                    <h2>My Favorite Shows!</h2>
                </div>
                <ul class="list-group"></ul>


               <script src="/js/profile.js"></script>
                </div>
            </div>
        </div>
    </div>
    </div>